.counter {
    height: 100%;
  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
  
.counter__title {
    font-size: 95px;
}
  
.counter__titleIncrement {
    color: var(--color-button-increment);
}

.counter__titleDcrement {
    color: var(--color-button-decrement);
}
  
.buttons {
    display: flex;
}
  
.button {
    width: 180px;
    height: 45px;
  
    border: none;
    border-radius: 6px;
    background-color: var(--color-button-default);
    font-weight: bold;
    text-transform: uppercase;
  
    margin: 5px;
}
  
.button:hover {
    background-color: var(--color-button-default-hover);
}
  
.buttonIncrement {
    background-color: var(--color-button-increment);
    color: var(--color-white);
    outline-color: var(--color-button-increment-outline);
    cursor: pointer;
}

.buttonIncrement:hover {
    background-color: var(--color-button-increment-hover);
}
  
.buttonDecrement {
    background-color: var(--color-button-decrement);
    color: var(--color-white);
    outline-color: var(--color-button-decrement-outline);
    cursor: pointer;
}

.buttonDecrement:hover {
    background-color: var(--color-button-decrement-hover);
}